---

---
<section class="flex font-medium text-primary gap-y-10 my-32 flex-col">
    <div class="flex justify-center items-center">
        <a href="https://twitch.tv/ibai" target="_blank" rel="noopener noreferrer" class="hover:scale-110 transition inline-block">
            <img src="./twitch.svg" alt="Logo de Twitch">
        </a>
    </div>
    <div class="flex flex-col md:flex-row uppercase text-center gap-x-4">

        <article class="order-2 md:order-1 flex justify-center items-center text-xl py-10 md:py-20 px-10 border-y-2 border-primary">
            <h5>Presentación, Pesaje, Entrevista y Cara a Cara</h5>
        </article>

        <article class="order-1 col-span-2 md:order-2 flex justify-center items-center text-4xl py-10 md:py-20 px-10 border-t-2 md:border-y-2 border-primary">
            <a href="https://twitch.tv/ibai" target="_blank" rel="noopener noreferrer" class="hover:text-purple-500 hover:scale-110 transition inline-block">
                <h4>Síguelo en directo twitch.tv/ibai</h4>
            </a>
        </article>

        <article class="order-3 flex justify-center items-center text-xl py-14 px-10 border-b-2 md:border-y-2  border-primary">
            <h5>
                Con la presencia de los boxeadores y boxeadoras
            </h5>
        </article>
    </div>
</section>